.container_one{
  height: 35em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container_one>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 69%;
  
}
.container_one>div>div:first-of-type{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.container_one>div>div>p{
  font-style: normal;
  font-weight: 400;
  color: #4A4A4A;
  width: 444px;
}
.container_one>div>div>p>span, .container_one>div>div>span{
  font-weight: 500;
  line-height: 24px;
  text-decoration: underline;
  color: #5E20A4;
}

.container_one>div>.container-image{
  position: relative;
  left: 1.5em;
}

.container_one>div>.container-image>img{
  width: 584px;
}


/* small screen */
@media(max-width:425px){

  .container_one{
    height: 50em;
  }

  .container_one>div{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .container_one>div>div:first-of-type{
    order: 1;
    align-items: center;
  }
  .container_one>div>div>h2{
    text-align: center;
  }
  .container_one>div>div>p{
    text-align: center;
    position: relative;
    bottom: 1em;
  }
  .container_one>div>div>p>span, .container_one>div>div>span{
    text-align: center;
  }
  .container_one>div> .container-image{
    order:0;
    left: 0;
  }
  .container_one>div>.container-image> img{
    width: 304px;
    height: 204px ;
  }

}


/* middle-screen */
@media (min-width:768px) and (max-width:1024px) {
   .container_one{
    height: 50em;
  }

  .container_one>div{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .container_one>div>div:first-of-type{
    order: 1;
    align-items: center;
  }
  .container_one>div>div>h2{
    text-align: center;
  }
  .container_one>div>div>p{
    text-align: center;
    position: relative;
    bottom: 1em;
  }
  .container_one>div>div>p>span, .container_one>div>div>span{
    text-align: center;
  }
  .container_one>div> .container-image{
    order:0;
    left: 0;
  }
  
}


/* lg-screen */

@media(min-width:1920px){
  .container_one>div{
  width: 60%;
  justify-content: center;
  flex-wrap: wrap;

}

.container_one>div>div:first-of-type{
  width: min-content;
}

}
